<c-nav variant="tabs">
    <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>Order Restaurant 1</a>
    <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Procduct Price Restaurant 1</a>
    <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2" cNavLink>Order Restaurant 2</a>
    <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="3" cNavLink>Procduct Price Restaurant 2</a>

</c-nav>
<c-tab-content #tabContent="cTabContent">
    <c-tab-pane class="p-3">
        <app-order></app-order>
    </c-tab-pane>
    <c-tab-pane class="p-3">
        <app-product-price></app-product-price>
    </c-tab-pane>
    <c-tab-pane class="p-3">
        <app-order></app-order>
    </c-tab-pane>
    <c-tab-pane class="p-3">
        <app-product-price></app-product-price>
    </c-tab-pane>
</c-tab-content>