<table class="table">
    <thead>
        <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Order Date</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">ProductPrice</th>
            <th scope="col">TotalProducts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>&#64;mdo</td>
            <td>Otto</td>
            <td>&#64;mdo</td>
        </tr>
    </tbody>
</table>